* {
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
  background-color: transparent;
}

window#waybar {
  color: #def;
  font-size: 16px;
  font-family: "FiraCode Nerd Font", monospace;
}

label, #tray, #tray menu {
  padding: 1px 6px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modules-left label, #tray {
  min-width: 40px;
}

#battery {
  min-width: 50px;
}

#pulseaudio.muted.source-muted {
  min-width: 40px;
}

#pulseaudio.muted, #pulseaudio.source-muted {
  min-width: 80px;
}

#pulseaudio {
  min-width: 120px;
}

#clock {
  min-width: 220px;
}

.modules-center {
  margin: 0 5px;
}

.modules-center label {
  padding: 1px 8px;
  min-width: 8px;
}

#workspaces label {
  background-color: transparent;
}

button, #window {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

button {
  margin-right: 5px;
  padding-right: 4px;
}

#workspaces button.urgent {
  background-color: rgba(192, 96, 32, 0.8);
}

#workspaces button.focused {
  background-color: rgba(0, 96, 128, 0.8);
}

/* Attention required */
.warning, .critical, #temperature.critical {
  background-color: #fa8;
}

.critical {
  animation-name: whiteBlink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Animations */
@keyframes whiteBlink {
  to {
    background-color: #eee;
    color: #000;
  }
}
